# SPDX-License-Identifier: CC-BY-4.0 OR GPL-3.0-or-later
# This file is part of Network Engineering Pro
#
# Ignore artifacts

**/assets/license
**/.vscode
**/.git
**/.svn
**/.hg
**/node_modules
package.json
eslint.config.mjs
babel.config.json
build
coverage
bimi-svg-tiny-ps.xml
.gitignore
.gitattributes
.editorconfig
.browserlistrc
.npmrc
.stylelintrc.json
